# Image processing and machine learning libraries
opencv-python
Pillow==9.5.0
scikit-image
scikit-learn
numpy
matplotlib

# Deep learning libraries
torch>=1.3
torchvision>=0.3
torchmetrics
vision_transformers

# Data processing libraries
PyYAML
pandas
protobuf<=3.20.1
yacs

# Training and model evaluation tools
wandb
tensorboard
tensorboardX
torchinfo

# Object detection and tracking libraries
deep-sort-realtime
pycocotools>=2.0.2
Vizer

# Text recognition library
pytesseract

# Other tools
tqdm
setuptools==59.5.0
wget
visdom
six