# Image processing and machine learning libraries
opencv-python>=4.1.1.26
Pillow
scikit-image
scikit-learn
numpy
matplotlib

# Deep learning libraries
torch>=1.12.0
torchvision>=0.13.0
torchmetrics
vision_transformers

# Data processing libraries
PyYAML
pandas
protobuf<=3.20.1

# Training and model evaluation tools
wandb
tensorboard
torchinfo

# Object detection and tracking libraries
deep-sort-realtime
pycocotools>=2.0.2
Vizer

# Text recognition library
pytesseract

# Other
tqdm
setuptools==59.5.0
wget
visdom